@import "../../variables";

.FAQ-overlay{
  position: absolute;
  z-index: 50;
  width: 100%;
  height: $page-height;
  background-color: rgba(255,255,255, 0.9);
  display: none;
}

.fAQ-visible{
  display: block;
}