@import "../../variables";


.landingPageIntro{
  font-family: $primary-font;
  color: $primary-font-color;
}

.title{
  font-family: $h1-font;
  color: $secondary-font-color;
}

.sub-title{
  font-family: $h2-font;
}

.info-text{
  font-family: $primary-font;
}


.overlay-title{
  font-family: $h1-font;
  font-size: 40px;
  color: #e27500;
}

.faq-customer-information{
  margin-top: 55px;
  color: #535353;
  font-size: 14px;
  font-family: $primary-font;
  margin-bottom: 40px;
  p{
    margin:0;
  }
}

.faq-h{
  font-size: 20px;
  font-family: $primary-font;
  margin: 0;
  font-weight: bold;
}

.faq-p{
  font-size: 20px;
  font-family: $primary-font;
  font-size: 14px;
  margin-left: 20px;
}

.cookie-title{
  font-family: $h1-font;
  font-size: 40px;
  color: #e27500;
  margin-bottom:0px;
  margin-top:40px;
}
.cookie-info{
  line-height: 20px;
  font-family: $primary-font;
  font-size: 15px;
  color: #454545;
}

.filterButton{
  font-family: $primary-font;
  font-size: 30px;
}

.product-view-advanced-dropdown{
  .filterButton{
    font-family: $primary-font;
    font-size: 15px;
    color: $secondary-font-color;
  }
}

.search-info{
  font-family: $primary-font;
  color: #535353;
  font-size: 16px;
}

.category p, .price-range p{

    font-family: $primary-font;
    color: #2b2b2b;
    font-size: 20px;
    margin-bottom: 10px;
  }
.price-range{
  p{
    margin-bottom: 20px;
  }
}


.product-view-advanced-filter-content .category p, .price-range p{
    font-family: $primary-font;
    color: $secondary-font-color;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .price-range{
    p{
      margin-bottom: 20px;
    }
}

  .product-view-advanced-filter-content{
    .category{
      form{
        p{
          color: white;
          font-size: 16px;
        }
      }
    }
  }





.about-us-tag{
  p{
    display:inline-block;
    font-family: $h2-font;
    color: $secondary-font-color;
    font-size: 24px;
    margin-right: 10px;
    margin-top:0px;
    margin-bottom: 0px;
  }
}

.bread-crum-tag{
  height: 14px;
  white-space:nowrap;
  position:relative;
  margin:0 5px 0 10px;
  displaY:inline-block;
  height:25px;
  border-radius: 0 2px 2px 0;
  padding: 0 25px 0 15px;
  background:$third-background-color;
  border-top-width:1px;
  border-bottom-width:1px;
  color:$primary-font-color;
  line-height:23px;
  font-size: 14px;
}

.tag{
    width: 10px;
    height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 7px;
}

.dogs-tag{
  background-color: $dog-color;
}
.cats-tag{
  background-color: $cat-color;
}
.fish-tag{
  background-color: $fish-color;
}
.birds-tag{
  background-color: $bird-color;
}
.small-animals-tag{
  background-color: $small-animal-color;
}

.bread-crum-tag:before{
  position:absolute;
  content:"";
  color:white;
  text-shadow: 0 0 1px $third-background-color;
  font-size:11px;
  line-height:0px;
  text-indent:12px;
  left:-15px;
  width: 1px;
  height:0px;
  border-right:14px solid $third-background-color;
  border-top:  12.5px solid transparent;
  border-bottom:  12.5px solid transparent;
}

.about-info, .contact-info{
  color: $secondary-font-color;
  font-size: 14px;
  font-family: $primary-font;
  p{
    &:first-child{
      font-size: 20px;
      font-family: $h2-font;
    }
  }
  ul{
    padding-left: 20px;
  }

}


.contact-form{
  label{
    margin-top: 17px;
    margin-bottom: 17px;
    font-family: $primary-font;
    $font-size: 20px;
    color: $secondary-font-color;
  }
}


.subtitle{
  color: $secondary-font-color;
  font-size: 20px;
  font-family: $h2-font;
}

.product-view-products-right{
  position: relative;
  p{
    &:first-child{
      font-size:26px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    font-family: $primary-font;
    color: $secondary-font-color;
    font-size: 14px;
    margin-top: 5px;
  }

  .product-view-active-price{
    margin: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  a{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 170px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $secondary-font-color;
    font-size: 14px;
    font-family: $primary-font;
    Text-decoration: none;
  }
}

.items-amount{
  float: right;
  p{
    color: $primary-font-color;
    font-size: 14px;
    font-family: $primary-font;
    span{
      color: $secondary-font-color;
    }
  }
}

.passive-product-detail-item{
  p{
    margin-top: 6px;
    margin-bottom:6px;
    color: $secondary-font-color ;
    font-size: 12px;
    font-family: $primary-font;
  }
}

.product-detail-right{
  h1{
    font-size: 40px;
  }
}

.product-detail-right{
  font-family: $primary-font;
  color: $secondary-font-color;
  .product-detail-item-price{
    font-family: $primary-font;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .product-detail-item-colors-title, .product-detail-item-description-title{
    font-size:20px;
    margin-bottom: 15px;
    clear:both;
    margin-top: 10px;
  }
  .product-detail-item-description-title{
    margin-top:15px;
  }
  .product-detail-item-description{
    font-size: 14px;
  }
  .title{
    margin-top: 15px;
    margin-bottom: 0px;
  }
}

.product-detail-specs{
  color: $secondary-font-color;
  font-family: $primary-font;
  .specs-title{
    font-size: 20px;
  }
  .dimension-title{
    font-size:14px;
  }
  .dimensions-specs{
    p{
      float:left;
      display:inline-block;
      margin-left: 33px;
    }
  }
  .tech-title{
    clear:both;
  }
  .tech-info{
    margin-left:33px;
  }
}


.gerelateerde-producten{
  p{
    color: $secondary-font-color;
    font-size:20px;
    font-family: $h1-font;
  }
}