@import "../../variables";



.clear-button{
  margin-top: 10px;
  float:right;
  font-family: Arial;
  color: #535353;
}

#ecape-faq{
  position: absolute;
  right:80px;
  top: 20px;
}

.cookie-modal{
  button{
    background-color: #e27500;
    color:white;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    border: none;
    font-size: 22px;
    margin-top: 20px;
  }
}