@import "../../variables";



.clear-button{
  margin-top: 16px;
  float:right;
  font-family: Arial;
  color: #535353;
}

#ecape-faq, #ecape-search{
  position: absolute;
  right:80px;
  top: 20px;
}



.cookie-modal{
  button{
    background-color: #e27500;
    color:white;
    font-family: $primary-font;
    font-weight: bold;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    border: none;
    font-size: 22px;
    margin-top: 20px;
  }
}

.advanced-filter{
  overflow: hidden;
  padding-top: 20px;
  box-sizing: border-box;
}

.filterButton{
  display: block;
  margin:0px;
  float:left;
}

.arrow-right {
  margin-left: 10px;
  margin-top : 10px;
  float: left;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #9a9a9a;
}

.arrow-down {
  margin-left: 10px;
  margin-top : 15px;
  float: left;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #9a9a9a;
}


.advanced-dropdown{
  user-select: none;
  cursor: pointer;
}

.send-contact-form{
  background-color: $contact-form-send;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color:$secondary-font-color;
  width: 240px;
  border: none;
  font-family: $primary-font;
  font-size: 19px;

}