.iconSprite {
  background-image: url("../images/icons.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-bird {
  width: 42px;
  height: 67px;
  background-position: -5px -5px;
}

.sprite-cat {
  width: 53px;
  height: 61px;
  background-position: -57px -5px;
}

.sprite-dog {
  width: 60px;
  height: 64px;
  background-position: -57px -76px;
}

.sprite-fish {
  width: 59px;
  height: 59px;
  background-position: -120px -5px;
}

.sprite-hamster {
  width: 47px;
  height: 51px;
  background-position: -127px -74px;
}

.sprite-plus {
  width: 32px;
  height: 32px;
  background-position: -184px -74px;
}
