.sprite {
  background-image: url("../images/navigation.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-about{
  background-image: url("../images/homepagenavigation/mail.png");
  background-repeat: no-repeat;
  display: block;
  width: 27px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.sprite-ActiveBird {
  width: 24px;
  height: 38px;
  background-position: -5px -5px;
}

.sprite-ActiveCat {
  width: 27px;
  height: 31px;
  background-position: -39px -5px;
}

.sprite-ActiveDog {
  width: 27px;
  height: 29px;
  background-position: -76px -5px;
}

.sprite-ActiveFAQ {
  width: 20px;
  height: 33px;
  background-position: -113px -5px;
}

.sprite-ActiveFish {
  width: 28px;
  height: 28px;
  background-position: -39px -48px;
}

.sprite-ActiveHamster {
  width: 27px;
  height: 30px;
  background-position: -77px -48px;
}

.sprite-ActiveSearchIcon {
  width: 29px;
  height: 29px;
  background-position: -114px -48px;
}

.sprite-Menu-hmburger-icon {
  width: 28px;
  height: 22px;
  background-position: -5px -87px;
}

.sprite-PassiveFAQ {
  width: 20px;
  height: 33px;
  background-position: -43px -87px;
}

.sprite-PassiveSearchIcon {
  width: 29px;
  height: 29px;
  background-position: -114px -87px;
}

.sprite-passiveBird {
  width: 24px;
  height: 38px;
  background-position: -153px -5px;
  &:hover{
    background-position: -5px -5px;
  }
}

#bird{
  &:hover{
    .sprite{
      background-position: -5px -5px;
    }
  }
}

.sprite-passiveCat {
  width: 27px;
  height: 31px;
  background-position: -5px -126px;
  &:hover{
    background-position: -39px -5px;
  }
}

#cat{
  &:hover{
    .sprite{
      background-position: -39px -5px;
    }
  }
}

.sprite-passiveDog {
  width: 27px;
  height: 29px;
  background-position: -73px -126px;
  &:hover{
    background-position: -76px -5px;
  }
}

#dog{
  &:hover{
    .sprite{
      background-position: -76px -5px;
    }
  }
}

.sprite-passiveFish {
  width: 28px;
  height: 28px;
  background-position: -110px -126px;
  &:hover{
    background-position:  -39px -48px;
  }
}

#fish{
  &:hover{
    .sprite{
      background-position:  -39px -48px;
    }
  }
}

.sprite-passiveHamster {
  width: 27px;
  height: 30px;
  background-position: -148px -126px;
  &:hover{
    background-position:  -77px -48px;
  }
}

#hamster{
  &:hover{
    .sprite{
      background-position:  -77px -48px;
    }
  }
}

#search-button, #FAQ, #about{
  cursor: pointer;
  &:hover{
    background-color: rgba(255,255,255, 0.9);
  }
}


#hamburger{
  cursor: pointer;
}

.activeFAQ{
  background-color: rgba(255,255,255, 0.9);
}