


//fonts
@font-face {
  font-family: "Choplin";
  src: url("../fonts/Rene Bieder - Choplin Medium-DEMO.otf") format("opentype");
}

@font-face {
  font-family: "Choplin-light";
  src: url("../fonts/32AAC6_0_0.woff") format("woff");
}



$h1-font: Choplin;
$h2-font: Choplin-light;
$primary-font: Arial;

//dimensions
$page-height: 2000px;

$tablet-landscape: 1024px;
$tablet-portrait: 768px;
$mobile-portrait: 412px;

//font-colors
$primary-font-color: #cecece;
$secondary-font-color: #ffffff;
$third-font-color: #000000;
$fourth-font-color: #a2a2a2;
$validation-error-color: #ca0000;
//colors
$background-color: #454545;
$secondary-color: #616161;
$tertiary-color: #717171;
$fourth-color: #ff6f9e;

$third-background-color: #323232;
$fourth-background-color : #ffffff;
$fifth-background-color: #9a9a9a;
$sixth-background-color: #717171;
$seventh-background-color: #565656;
$eighth-background-color: #000000;
$tenth-background-color: #828282;
$hot-item-background-color: #565656;
$hot-item-border-color: #717171;
$newsletter-background-color: #5f5f5f;




//buttons
$contact-form-send: #ff6f9e;
$blue-circle-background-color: #2d4aac;
