

#cookieAlert{
  z-index: 100;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
}

.cookieAlert-none{
  display: none;
}

@import "../../_variables";

.white-overlay{
  position: absolute;
  z-index: 50;
  width: 100%;
  //height: $page-height;
  height:100%;
  min-height: 100%;
  bottom : 0px;
  background-color: rgba(255,255,255, 0.9);
  display: none;

  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}


.search-visible{
  display:block;
}

.fAQ-visible{
  display: block;
}