@import "../../_variables";

.nav-option{
  width: 260px;
  height: 60px;
  position: relative;
  clear: both;
  cursor: pointer;
  //overflow: hidden;
}

.nav-icon{
  float: left;
  width: 60px;
  height: 100%;
  position: relative;
  .sprite{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.nav-info{
  height: 100%;
  float: left;
  font-family: $primary-font;
  font-size: 22px;
  color: white;
  padding-top:20px;
  padding-left:15px;
  p{
    margin: 0px;
  }

}

#hamburger{
  background-color: #252525;
  margin:0px;
}

.store-name{
  width:100%;
  position: absolute;
  bottom:0;
  text-align: center;
  p{
    font-size: 30px;
    color: $secondary-color;
    font-family: $h2-font;

  }
}


.navigation-bar{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  z-index: 60;
  float:left;

  position:absolute;
  top:0;
  bottom:0;
  left:0;
  overflow:hidden;

}