@import "../../variables";


.product-detail-item{
  overflow: hidden;
  margin-top:140px;
}

.product-detail-left{
  width: 50%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  background-color: $seventh-background-color;
  img{
    width:100%;
    margin-left: auto;
    margin-right:auto;
    display: block;
  }
}

.product-detail-right{
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 20px;
  overflow: hidden;
}

.product-detail-specs{
  margin-top: 20px;
  border-top: 1px solid $sixth-background-color;
  border-bottom: 1px solid $sixth-background-color;
  margin-bottom: 50px;
  padding-left: 15px;
}