@import "../../variables";

#category-productView, #product-view-slider-div{
  width: 100%;
}


.product-view-slider-left, .product-view-slider-right{

  float:left;
}

.product-view-slider-left{
  width: 50%;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
}

.product-view-slider-right{
  width: 35%;
  padding-top: 25px;
}

.product-view-products{
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid $secondary-color;
  overflow: hidden;
}

.first-item-block{
  min-height: 420px;
}

.product-view-products-toload{
  overflow: hidden;
  .product-view-item{
    margin-right: 1%;
    width: 24.25%;
    margin-bottom: 20px;
    &:nth-child(4n){
      margin-right: 0px;
    }
  }
}