.geralateerde-producten-items{
  width:100%;
  overflow-x:hidden;
  height:172px;
  display: inline-block;
  position: relative;
  .overflow-scroll{
    width:1840px;
    height:100%;
    position: absolute;
  }
  .hot-item{
    margin-right: 5px;
    width: 200px;
    position: relative;
  }
}