@import "../../_variables";

.navigation-bar{
  width: 60px;
  overflow: hidden;
  transition: width 0.2s;
  background-color: $third-background-color;
}

.expand-navigation-bar{
  width:260px;
}

.navigation-options{
  box-sizing: border-box;
  .nav-option
  {
    &:first-child{
      .nav-icon{
        &:hover{
          background: none;
        }
      }
    }
  }

  padding-bottom: 15px;
  border-bottom: 1px solid $secondary-color;
  p{
    color: $fourth-font-color;
  }

}

.navigation-animals{
  box-sizing: border-box;
  padding-top: 15px;

}

.homepage-navigation{
  width: 100%;
}

.hot_items{
  width: 100%;
  .hot-item{
    margin-right: 1%;
    width: 24.25%;
    &:last-child{
      margin-right: 0px;
    }
  }

}



.slider{
  width: 390px;
  float:right;
}

.slider-inputs{
  margin-top: 20px;
}

.slider-productView{
  width: 100%;
  clear: both;
}
